/* Generales */

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
	Font-Family: 'Raleway', Sans-Serif;
	Font-Size: 44px;
	font-weight: 300;
	color: #131313;
}

h2 {
	text-align: center;
	margin-top: 52px;
	margin-bottom: 2px;
}

p,li, dl {
	Font-Family: 'Open Sans', Sans-Serif;
	Font-Size: 15px;
	color: #131313;
}

a {
	color: #346645;
}

/* Navegación */

.menu {
	background: #346645;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index:1;
}

.hijo_menu {
	width: 1000px;
}

#navega {
	margin: 0 0 0 70px;
	padding: 0;
}

#navega li {
	display: inline;
}

#navega li a:hover {
	background-color: #C0464B;
}

#navega li a {
 text-decoration: none;
 float: left;
 background-color: #346645;
 color: white;
 padding: 24px 12px 24px 12px;
 }

/* slide_intro */

.slide_intro {
	background: #F3E8D2;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_intro {
	display: flex;
	width: 1000px;
	padding-bottom: 32px;
}

.hijo_slide_intro ul, .hijo_slide_intro p {

}

.hijo_slide_intro .pr_columna, .hijo_slide_intro .se_columna {
	width: 500px;
	margin: 0;
}

.hijo_slide_intro .pr_columna {
	padding: 0 24px 0 72px;
}

.hijo_slide_intro .se_columna {
	padding: 0 72px 0 24px;
}

/* slide_software */

.slide_software {
	background: white;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_software {
	display: flex;
	width: 1000px;
	padding-bottom: 32px;
}

.hijo_slide_software .flockompass, .hijo_slide_software .flockserver {
	width: 500px;
	margin: 0;
	padding: 0 72px 0;
	text-align: center;
}

.hijo_slide_software h4 {
	font-size: 18px;
	font-weight: 400;
	Font-Family: 'Raleway', Sans-Serif;
}

.hijo_slide_software .flockompass img, .hijo_slide_software .flockserver img {
	border-radius: 32px;
}


/* slide_blog */

.slide_publicaciones {
	background: #F3E8D2;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_publicaciones {
	display: flex;
	width: 1000px;
	padding-bottom: 32px;
}

.hijo_slide_publicaciones .col_uno, .hijo_slide_publicaciones .col_dos {
	width: 500px;
	margin: 0;
	padding: 0 72px 0;
	text-align: center;
}

.hijo_slide_publicaciones h4 {
	font-size: 18px;
	font-weight: 400;
	Font-Family: 'Raleway', Sans-Serif;
}

.hijo_slide_publicaciones .col_uno img, .hijo_slide_publicaciones .col_dos img {
	border-radius: 32px;
}


/* slide_contacto */

.slide_contacto {
	background: #A5C868;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_contacto {
	width: 1000px;
}

.hijo_slide_contacto p {
	text-align: center;
}

.hijo_slide_contacto p.nombre {
	margin-bottom: 6px;
}

.hijo_slide_contacto p.correo {
	margin: 0 256px 46px;
}

/* slide comodín */
.slide_comodin {
	background: white;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_comodin {
	width: 1000px;
}

.slide_comodin_uno {
	background: #F3E8D2;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_comodin_uno {
	width: 1000px;
}

.hijo_slide_comodin_uno h2.titulo_gobernanza {
	margin-top: 0;
	margin-bottom: 14px;
}

/* slide_patrocinio */

.slide_patrocinio {
	background: white;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.hijo_slide_patrocinio {
	display: flex;
	width: 1000px;
	padding-bottom: 32px;
}

.hijo_slide_patrocinio ul#patrocinadores {
  list-style: none;
  margin-top: 52px;
  margin-right: auto;
  margin-left: auto;
}

.hijo_slide_patrocinio ul#patrocinadores li {
  display:inline;
  height: 67px;
}

.hijo_slide_patrocinio ul#patrocinadores li img {
  margin:0 72px;
}

/* font-face */

p.icono {
	color: #C0464B;
	font-size: 48px;
	text-align: center;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('../resources/font/fontello.eot?68133450');
  src: url('../resources/font/fontello.eot?68133450#iefix') format('embedded-opentype'),
       url('../resources/font/fontello.woff2?68133450') format('woff2'),
       url('../resources/font/fontello.woff?68133450') format('woff'),
       url('../resources/font/fontello.ttf?68133450') format('truetype'),
       url('../resources/font/fontello.svg?68133450#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?68133450#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-tools:before { content: '\e801'; } /* '' */
.icon-network:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\f0f6'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */

/* Puto el que lo lea, again */